{% extends 'base.html' %} {% block head %}

{% endblock head %}{% block content %}
<br />
<center>
	<b>
		<u> <h1> <b> COVID-19 APP </b> </h1> </u>
	</b>
	<br />
	<h5>
		<p>
			Description: This website retrieves and display data regarding COVID. It covers a wide list of countries if not
			all. Each country has data all the way from February 2nd, 2023 all the way to today. This website is always up to
			date and displays data such as cases, deaths, and tests. Though, not all countries have up to date data. In addition,
			you can sign up for daily notifications. Each day, you will receive data regarding total deaths, new deaths, new
			infected, total infected, critical cases, recovered cases, cases per 1 million people, total test, and test per 1
			million people.
		</p>
		<br />
		Contributors: <br />
		- Tejas Siddaramaiah <br />
		- Ken Lin <br />
		- Daniel Kibatulin
	</h5>
</center>
{% endblock content %}
