{% extends 'base.html' %} {% block content %}

<h2 style="margin-top: 10px;">Symptoms of COVID-19</h2>
<p>
	People with COVID-19 may experience a wide range of symptoms, from mild to severe. Common symptoms include fever,
	cough, shortness of breath, fatigue, muscle or body aches, headache, loss of taste or smell, sore throat, congestion,
	nausea, and diarrhea. Symptoms may appear 2-14 days after exposure, and they can vary based on vaccination status and
	new variants. Higher-risk individuals, such as older adults or those with underlying health conditions, are more
	susceptible to severe illness.
</p>

<h2>Testing for COVID-19</h2>
<p>
	COVID-19 testing is crucial for early detection and prevention of the virus spread. There are two main types of tests:
	Polymerase Chain Reaction (PCR) tests, considered the gold standard, and Antigen tests, which provide rapid results.
	PCR tests are more likely to detect the virus, but antigen tests are useful for quick results. It's recommended to
	follow FDA guidelines for testing, especially in cases of symptoms or exposure. Repeat testing may be necessary for
	accurate results, and testing without symptoms can be beneficial, especially before events or visits to high-risk
	individuals.
</p>

<h2>Treating COVID-19</h2>
<p>
	Most individuals with mild COVID-19 symptoms can recover at home using over-the-counter medications. However, for
	those at higher risk of severe illness, treatments are available and should be initiated within 5-7 days of symptom
	onset. Vaccination reduces the likelihood of severe illness, but treatment may still be beneficial. Antiviral
	medications, such as Nirmatrelvir with Ritonavir (Paxlovid), Remdesivir (Veklury), and Molnupiravir (Lagevrio), are
	authorized to treat mild to moderate cases. Consult with a healthcare provider to determine eligibility and the most
	suitable treatment option.
</p>

<h2>Prevention Actions at All COVID-19 Community Levels</h2>
<p>
	To mitigate the spread of COVID-19, follow recommended prevention actions at all community levels. Alongside
	fundamental health and hygiene practices like handwashing, the CDC advises the following measures:
</p>
<ul>
	<li class="info">
		<strong>Staying Up to Date with COVID-19 Vaccines:</strong> Keep current with COVID-19 vaccinations to enhance
		personal and community immunity.
	</li>
	<li class="info">
		<strong>Improving Ventilation:</strong> Enhance ventilation in indoor spaces to reduce the risk of airborne
		transmission.
	</li>
	<li class="info">
		<strong>Getting Tested for COVID-19 If Needed:</strong> Undergo testing if necessary, especially if symptoms arise
		or exposure is suspected.
	</li>
	<li class="info">
		<strong>Following Recommendations for Exposure:</strong> Adhere to guidelines on what to do if you've been exposed
		to COVID-19 to prevent further transmission.
	</li>
	<li class="info">
		<strong>Staying Home If Suspected or Confirmed:</strong> If you suspect or confirm having COVID-19, it is crucial to
		stay home to avoid spreading the virus.
	</li>
	<li class="info">
		<strong>Seeking Treatment for High-Risk Individuals:</strong> Individuals at high risk of severe illness should seek
		prompt treatment if diagnosed with COVID-19.
	</li>
	<li class="info"> 
		<strong>Avoiding Contact with Infected Individuals:</strong> Steer clear of contact with people who have suspected
		or confirmed COVID-19 to reduce the risk of transmission.
	</li>
</ul>
{% endblock %}
